.app-header__callout--primary {
  animation-duration: 1s;
  animation-name: moveInFromLeft;
  animation-timing-function: ease-out;
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
}

.app-header__callout--secondary {
  animation-duration: 1s;
  animation-name: moveInFromRight;
  animation-timing-function: ease-out;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74rem;
}
