.app-header__callout--primary {
  animation-duration: 1s;
  animation-name: moveInFromLeft;
  animation-timing-function: ease-out;
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.app-header__callout--secondary {
  animation-duration: 1s;
  animation-name: moveInFromRight;
  animation-timing-function: ease-out;
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}
